body{
  margin: 0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgb(127, 0 ,255), rgb(102, 0, 204));
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  background: white;
  border-radius: 2rem;
  width: 70%;
  height: 38%;
  max-width: 1000px;
}

.title{
  margin-bottom: -.8px;
}

.content{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container {
  border-bottom: 1px solid gray;
}

button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  padding-right: .5rem;
  background: white;
  border: none;
  color: gray;
  font-size: 0.9rem;
}

button:hover{
  color: rgb(255, 128, 0);
  cursor: pointer;
}

.subtext{
  color: rgb(127, 0 ,255);
  font-size: 1rem;
  margin-top: -8px;
  line-height: 15px;
  max-height: 0;
  overflow: hidden;
  transition:  1s ease;
}

.container.active .subtext{
  max-height: 200px;
} *

.container.active .arrow{
  transform: rotate(180deg);
}

.arrow{
  transition: 0.5s ease;
}

.bold{
  font-weight: bolder;
}

.images{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-left: -2px;
}

.image-one{
  background-image: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 195%;
  background-position-x: -500px;
  background-position-y: -265px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-one img{
  position: fixed;
  top: 560px;
  left: 100px;
  z-index: 3;
}

.image-two{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/illustration-woman-online-desktop.svg');
  background-repeat: no-repeat;
  background-size: 95%;
  top: 70px;
  left: -58px;
  z-index: 0;
} 
